* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

body {
    height: 100%;
    overflow-x: hidden;
}



#header > h1 {
    font-size: 60px; 
    color: #37517E; 
}

.menu {
    list-style: none; 
    display: flex; 
    justify-content: center; 
}

.menu li {
    margin: 0 15px; 
    padding: 10px; 
    font-size: 18px; 
    color: #0D6EFD;
}

.menu li:hover {
    color: #0D6EFD; 
    cursor: pointer;
}

.gambar1 {
    padding: auto;
}

.konten {
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    height: 100vh;
    background-color: #37517E;
}

.konten h1 {
    font-size: 55px;
    font-weight: bold;
}

.konten p {
    font-size: 25px;
    padding-top: 8px;
    color: #a1aec3;
}

#button-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;
}

#btn-start {
    background-color: #47B2E4;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.8s ease;
    
}

#btn-start:hover {
    background-color: #45a049; 
    transform: scale(1.1);
}

#watch-text {
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}

.logo {
    position: absolute;
    top: 20%;
    width: 50%;
    margin-left: 50%;
}

.logo img {
    padding: 20px;
}

.tengah {
    height: 250px;
    background-color: #F3F5FA;
}

.konten2 {
    text-align: center;
    padding: 30px;
    font-size: 24px;
    color: #37517E;
}

.konten2 h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: #444444;
}

.frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inpt {
    width: 516px;
    height: 30.5px;
    border-radius: 50px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-scrb {
    width: 113px;
    height: 30.5px;
    border-radius: 50px;
    border: none;
    background-color: #47B2E4;
    color: white;
    margin-top: -30px;
    margin-left: 27%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.8s ease;
}

.btn-scrb:hover {
    background-color: #45a049; /* Warna saat hover */
    transform: scale(1.1); /* Efek zoom */
}

.ftr {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 50px;
    margin-right: -80px;
    background-color: #FFFFFF;
    color: #37517E;
    font-size: 16px;
}

.footer-column {
    width: 23%; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.footer-column h3{
    font-size: 28px;
    margin-bottom: -25px;
}
.footer-column h6{
    font-size: 16px;
}


.footer-column p, .footer-column ul {
    margin: 0;
    padding: 0;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #777777;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #0d6efd;
}

.footer-column img {
    width: 278px; /* Mengatur lebar gambar mengikuti kolom */
    height: auto;
}

.ftr p {
    font-size: 14px;
    color: #777777;
}

.bawah {
    height: 80px;
    background-color: #37517E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
}

.bawah p {
    color: white;
}

.selection {
    color: #44b4e4; /* Contoh gaya untuk class selection */
}

@media (max-width: 431px) {
   
    .konten{
        height: 685px;
    }

    .btt{
        display: flex;
        margin-left: 100px
    }

    #button-container{
        display: flex;
        padding-left: 40px;
        transition: background-color 0.3s ease, transform 0.5s ease;
    }
    .btn-start:hover {
        background-color: #45a049; /* Warna baru */
        transform: scale(1.1); /* Efek zoom */
    }

    .konten h1{
        font-size: 50px;
        padding-left: 40px;
    }

    .konten p{
        font-size: 20px;
        padding-left: 40px;
    }

    .logo{
        margin-left: 500px;
    }
   
    .hero{
        margin-left: 25%;
        width: 300px;
        margin-top: 140px;
    }
    
    .konten{
        background-color: #37517E;
        width: 905px;
        height: 703px;
    }

    .tengah{
        width: 950px;
    }

    .footer-column ul{
        width: 100px;
    }

    .footer-column{
        display: flex;
        margin-left: 10px;
        margin-right: 90px;    
    }

    .bawah{
        width: 950px;
        padding-right: 85px;
    }

    .btn-scrb{
        margin-left: 43%;
        float: right;
        justify-content: flex-end;
        transition: background-color 0.3s ease, transform 0.5s ease;
    }
    .btn-scrb:hover {
        background-color: #45a049;
        transform: scale(1.1); 
    }

    .frm{
        justify-content: flex-end;
        
    }

    .ftr{
        display: flex;
        justify-content: space-between;
    }

    .tengah {
        display: flex;
        flex-direction: column; /* Atur elemen dalam kolom */
        gap: 15px; /* Jarak antara elemen */
        background-color: rd;
      }

      .bawah{
       height: 95px;
       
      } 
}