body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 20px;
    padding: 20px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tulisan {
    text-align: center;
    margin-bottom: 30px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #F5F5F7;
    color: black;
}

.tr:hover {
    background-color: #f1f1f1;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.custom-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc;
    height: 45px;
    width: 100%;
    font-size: 17px;
}

.button-x {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 20px;
}

.edit-button {
    background-color: #007BFF; /* Blue for Edit */
}

.delete-button {
    background-color: #DC3545; /* Red for Delete */
}

.update-button {
    background-color: #28A745; /* Green for Update */
}

button {
    padding: 10px 15px;
    color:white;
    border: none;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
    width: 140px;
    font-size: 15px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s; /* Smooth transition */
}

.edit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

.update-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.tabel-x th {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

.error {
    border: 2px solid #F95454;
}

/* Tampilan File Article */
.gambar-bs {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

.article-image {
    width: 60px; 
    height: 50px; 
}

.tulisan-1 {
    margin: 10px 0;  /* Jarak atas dan bawah 10px */
}

.paragraf {
    padding-top: 10px; /* Memberikan padding bawah 20px */
    bottom: 20px;
    background-color: #E6B329;
}

.view {
    background-color: #A04747;
    text-align: center; 
    height: 50px;
}

.view:hover {
    background-color: #F95454; 
}

.back {
    width: 100px;
    height: 40px;
    text-align: center;
}
